= form_tag(learn_start_path, method: "post") do
 %br
 .row.collapse
  .center_box
   .large-4.columns
    %b START DATE
    = date_field  nil, :start_dates
   .large-4.columns
    %b END DATE
    = date_field nil, :finish_date
  = submit_tag 'START', class: 'button postfix'