%p
  .center_h1 ORIGINAL WORD
%p
.curved-hz-1
  = @word.original

.hide_block
  %p
  .center_h1 TRANSLATE
  %p
  .curved-hz-1
    = @word.translit
%br
%p
  %a{:class => "button expand", :href =>learn_next_path} NEXT