= if session[:way] == "translit"; render "translate" else  render "original" end
%br
%p.center_box
  %a{:class => "button alert", :href =>learn_unknow_path} UNKNOWN
  %a{:class => "button success", :href =>learn_know_path} KNOW
